{% extends "base.html" %}
{% load static %}

{% block title %}Events{% endblock title %}

{% block main-content %}


<section class="site-hero inner-page overlay" style="background-image: url({{banners.image1.url}})" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center" data-aos="fade">
          <h1 class="heading mb-3">Events</h1>
          <ul class="custom-breadcrumbs mb-4">
            <li><a href="{% url "home" %}">Home</a></li>
            <li>&bullet;</li>
            <li>Events</li>
          </ul>
        </div>
      </div>
    </div>

    <a class="mouse smoothscroll" href="#next">
      <div class="mouse-icon">
        <span class="mouse-wheel"></span>
      </div>
    </a>
  </section>
  <!-- END section -->

  <section class="section blog-post-entry bg-light" id="next">
    <div class="container">
      
      <div class="row">
        {% if events %}
        {% for event in events %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post mb-5" data-aos="fade-up" data-aos-delay="{{forloop.counter}}*100">

          <div class="media media-custom d-block mb-4 h-100">
            <a href="#" class="mb-4 d-block"><img src="{{ event.event_image.url }}" alt="Image placeholder" class="img-fluid"></a>
            <div class="media-body">
              <span class="meta-post">{{event.event_date}} {{event.event_time}}</span>
              <h2 class="mt-0 mb-3"><a href="#">{{event.event_name}}</a></h2>
              <p>{{event.event_description}}</p>
            </div>
          </div>

        </div>
        {% endfor %}
        {% endif %}
      </div>

      <div class="row" data-aos="fade">
        <div class="col-12">
          <div class="custom-pagination">
            <ul class="list-unstyled">
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><span>...</span></li>
              <li><a href="#">30</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock main-content %}