{% extends "base.html" %}
{% load static %}
{% block title %}
Home Page
{% endblock title %}

{% block main-content %}

<section class="site-hero overlay" style="background-image: url({{banners.image1.url}})" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row site-hero-inner justify-content-center align-items-center">
        <div class="col-md-10 text-center" data-aos="fade-up">
          <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To 5 <span class="fa fa-star text-primary"></span>   Hotel</span>
          <h1 class="heading">A Best Place To Stay</h1>
        </div>
      </div>
    </div>

    <a class="mouse smoothscroll" href="#next">
      <div class="mouse-icon">
        <span class="mouse-wheel"></span>
      </div>
    </a>
  </section>


<section class="section bg-light pb-0"  >
    <div class="container">
     
      {% include "room/check_availability.html" %}
    </div>
  </section>

  <section class="py-5 bg-light">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
          <figure class="img-absolute">
            <img src="{% static "room/images/food-1.jpg" %}" alt="Image" class="img-fluid">
          </figure>
          <img src="{{banners.image3.url}}" alt="Image" class="img-fluid rounded">
        </div>
        <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
          <h2 class="heading">Welcome!</h2>
          <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p><a href="#" class="btn btn-primary text-white py-2 mr-3">Learn More</a> <span class="mr-3 font-family-serif"><em>or</em></span> <a href="https://vimeo.com/channels/staffpicks/93951774"  data-fancybox class="text-uppercase letter-spacing-1">See video</a></p>
        </div>
        
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading" data-aos="fade-up">Rooms &amp; Suites</h2>
          <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" data-aos="fade-up">
          <a href="#" class="room">
            <figure class="img-wrap">
              <img src="{{ single_room.image.image1.url }}" alt="Free website template" class="img-fluid mb-3">
            </figure>
            <div class="p-3 text-center room-info">
              <h2>Single Room</h2>
              <span class="text-uppercase letter-spacing-1">RS. {{ single_room.price }} / per night</span>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up">
          <a href="#" class="room">
            <figure class="img-wrap">
              <img src="{{ family_room.image.image1.url }}" alt="Free website template" class="img-fluid mb-3">
            </figure>
            <div class="p-3 text-center room-info">
              <h2>Family Room</h2>
              <span class="text-uppercase letter-spacing-1">RS. {{ family_room.price }} / per night</span>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up">
          <a href="#" class="room">
            <figure class="img-wrap">
              <img src="{{ president_room.image.image1.url }}" alt="Free website template" class="img-fluid mb-3">
            </figure>
            <div class="p-3 text-center room-info">
              <h2>President Room</h2>
              <span class="text-uppercase letter-spacing-1">RS. {{president_room.price}} / per night</span>
            </div>
          </a>
        </div>


      </div>
    </div>
  </section>
  
  
  <section class="section slider-section bg-light">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading" data-aos="fade-up">Photos</h2>
          <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
            <div class="slider-item">
              <a href="{{banners.image1.url}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{banners.image1.url}}" alt="Image placeholder" class="img-fluid"></a>
            </div>
            <div class="slider-item">
              <a href="{{banners.image2.url}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{ banners.image2.url }}" alt="Image placeholder" class="img-fluid"></a>
            </div>
            <div class="slider-item">
              <a href="{{ banners.image3.url }}" data-fancybox="images" data-caption="Caption for this image"><img src="{{ banners.image3.url }}" alt="Image placeholder" class="img-fluid"></a>
            </div>
            <div class="slider-item">
              <a href="{{banners.image4.url}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{banners.image4.url}}" alt="Image placeholder" class="img-fluid"></a>
            </div>
            <div class="slider-item">
              <a href="{{banners.image5.url}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{banners.image5.url}}" alt="Image placeholder" class="img-fluid"></a>
            </div>
            <div class="slider-item">
              <a href="{{banners.image6.url}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{banners.image6.url}}" alt="Image placeholder" class="img-fluid"></a>
            </div>
            <div class="slider-item">
              <a href="{{banners.image7.url}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{banners.image7.url}}" alt="Image placeholder" class="img-fluid"></a>
            </div>
          </div>
          <!-- END slider -->
        </div>
      
      </div>
    </div>
  </section>
  <!-- END section -->
  
  {% include "room/ordermenu.html"%}
  
  <!-- END section -->
  <section class="section testimonial-section">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading" data-aos="fade-up">People Says</h2>
        </div>
      </div>
      <div class="row">
        <div class="js-carousel-2 owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
          {% if reviews %}
          {% for review in reviews %}
          <div class="testimonial text-center slider-item">
            <div class="author-image mb-3">
              <img src="{{review.user.profile_pic.url}}" alt="Image placeholder" class="rounded-circle mx-auto">
            </div>
            <blockquote>

              <p>&ldquo;{{review.review}}.&rdquo;</p>
            </blockquote>
            <p><em>&mdash; {{review.user.first_name}}</em></p>
          </div> 
          {% endfor %}
          {% endif %}


        </div>
          <!-- END slider -->
      </div>

    </div>
  </section>
  

  <section class="section blog-post-entry bg-light">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-md-7">
          <h2 class="heading" data-aos="fade-up">Events</h2>
          <p data-aos="fade-up">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
      </div>
      <div class="row">
        {% if events %}
        {% for event in events %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="{{forloop.counter}}*100">

          <div class="media media-custom d-block mb-4 h-100">
            <a href="#" class="mb-4 d-block"><img src="{{ event.event_image.url }}" alt="Image placeholder" class="img-fluid"></a>
            <div class="media-body">
              <span class="meta-post">{{event.event_date}} {{event.event_time}} </span>
              <h2 class="mt-0 mb-3"><a href="#">{{event.event_name|safe}}</a></h2>
              <p>{{event.event_description|safe}}</p>
            </div>
          </div>

        </div>
        {% endfor %}
          {% endif %}
      </div>
    </div>
  </section>



  


{% endblock main-content %}