{% load static %}
    <section class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
                    <figure class="img-absolute">
                        <img src="{% static "room/images/food-1.jpg" %}" alt="Image" class="img-fluid">
                    </figure>
                    <img src="{% static "room/images/img_1.jpg" %}" alt="Image" class="img-fluid rounded">
                </div>
                <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
                    <h2 class="heading">Welcome!</h2>
                    <p class="mb-4">{{ hotel_intro.introduction }}.</p>
                    <p><a href="#" class="btn btn-primary text-white py-2 mr-3">Learn More</a> <span
                            class="mr-3 font-family-serif"><em>or</em></span> <a
                            href="{{ hotel_intro.video_url }}" data-fancybox
                            class="text-uppercase letter-spacing-1">See video</a></p>
                </div>
            </div>
        </div>
    </section>